@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;

}

body {
  background-image: url(https://wallpaperaccess.com/full/4671265.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h3 {
  padding: 10px;
}

button {
  font: normal bold 16px "Roboto", Arial, sans-serif;
  padding:  20px 30px 20px 30px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
}

.content {
  background-color: #ffffffc0;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000070;
  width: 800px;
}

.justify-center {
  display: flex;
  justify-content: center;
}



footer {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.fa-eye {
  color: #000000c2;
  position: absolute;
  top: 17px;
  right: 0px;
  cursor: pointer;
}

.copy {
  font-size: 14px;
}

#msgError {
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSucess {
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none
}